* {
    margin: 0;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #06171E;
}

header {
    display: flex;
    align-items: center;
    background-color: #09212A;
    height: 80px;
    padding-left: 8vb;
}

header img {
    height: 40px;
    width: 200px;
}

h1 {
    font-size: 56px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06171E;
    flex-grow: 1;
    padding: 40px 0;
}

.radius {
    border-radius: 100% 100% 0 0;
    border: 16px solid #09212A;
    background-color: #09212A;
}

button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 1440px;
}

.cloudy {
    filter: brightness(0.3);
}

.images {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 16px;
}

.content img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #124658;
    object-fit: cover;
}

.content img:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#respImage {
    display: none;
}

#respImage.overlay {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    min-height: 70vh;
    max-height: 80vh;
    width: 40vw;
    min-width: 500px;
    background-color: #06171E;
    border: 2px solid #124658;
    border-radius: 24px;
    flex-direction: column;
}

#respImage.overlay img {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    object-fit: cover;
    width: 80%;
    height: 380px;
}

.overlayHeader {
    margin-top: 80px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.overlayClose img {
    width: 32px !important;
    height: 32px !important;
}

.overlayClose img:hover {
    cursor: pointer;
}

.overlayArrows {
    justify-content: center;
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.overlayArrows img {
    width: 60px !important;
    height: 60px !important;
}

.overlayArrows img:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

.counter {
    margin-top: 24px;
    width: 60px;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #09212A;
    height: 100px;
}

footer img {
    height: 32px;
    width: 135px;
    padding-bottom: 8px;
}

@media(max-width: 767px) {
    h1 {
        font-size: 48px;
    }

    header {
        display: flex;
        padding: 0;
        justify-content: center;
        background-color: #09212A;
        height: 80px;
    }

    header img {
        height: 32px;
        width: 168px;
    }
}

@media(max-width: 550px) {

    body.overlay {
        overflow: hidden;
        width: 100%;
    }

    main {
        padding: 40px 0;
        margin: 0;
    }

    .images {
        gap: 20px 8px;
    }

    html {
        scroll-behavior: smooth;
    }

    #respImage.overlay {
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        width: 94vw;
        min-width: 290px;
        background-color: #06171E;
        border: 2px solid #124658;
        border-radius: 24px;
        flex-direction: column;
    }

    #respImage.overlay img {
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        object-fit: cover;
        width: 80%;
        height: 380px;
    }

    .overlayArrows {
        font-size: 16px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .overlayArrows img {
        width: 40px !important;
        height: 40px !important;
    }

    footer {
        height: 80px;
    }
}