* {
    margin: 0;
    color: white;
}

header {
    display: flex;
    align-items: center;
    padding-left: 100px;
    background-color: #09212A;
    height: 80px;
}

header img {
    height: 40px;
    width: 200px;
}

h1 {
    font-size: 56px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06171E;
    min-height: 80vh;
    padding: 40px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.cloudy {
    filter: brightness(0.3);
}

.images {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 16px;
}

.content img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #124658;
}

.content img:hover {
    cursor: pointer;
}

.overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    min-height: 70vh;
    min-width: 30vw;
    background-color: #06171E;
    border: 2px solid #124658;
    border-radius: 24px;
}

footer {
    display: flex;
    height: 120px;
    background-image: url(img/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #06171E;
}