* {
    margin: 0;
    color: white;
}

header {
    display: flex;
    align-items: center;
    padding-left: 100px;
    background-color: #09212A;
    height: 80px;
}

header img {
    height: 40px;
    width: 200px;
}

h1 {
    font-size: 56px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06171E;
    min-height: 80vh;
    padding: 40px 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.cloudy {
    filter: brightness(0.3);
}

.images {
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 16px;
}

.content img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 2px solid #124658;
    object-fit: cover;
}

.content img:hover {
    cursor: pointer;
}

#resp_image {
    display: none;
}

#resp_image.overlay {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    min-height: 70vh;
    max-height: 80vh;
    width: 40vw;
    min-width: 500px;
    background-color: #06171E;
    border: 2px solid #124658;
    border-radius: 24px;
    flex-direction: column;
}

#resp_image.overlay img {
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    object-fit: cover;
    width: 80%;
    height: 380px;
}

.overlayHeader {
    margin-top: 80px;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.overlayClose img {
    width: 32px !important;
    height: 32px !important;
}

.overlayArows {
    font-size: 24px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.overlayArows img {
    width: 60px !important;
    height: 60px !important;
}

footer {
    display: flex;
    height: 120px;
    background-image: url(img/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #06171E;
}